@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-black text-white font-mono antialiased overflow-hidden selection:bg-cyan-500 selection:text-black;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-black border-l border-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 border border-zinc-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-cyan-500;
}
